@use 'variables' as v;

@mixin tel {
    @media (min-width: v.$tel) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desk {
    @media (min-width: v.$desk) {
        @content;
    }
}

@mixin xl {
    @media (min-width: v.$xl) {
        @content;
    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin bento($color-fondo){
    padding: 2rem;
    background: $color-fondo;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: v.$blanco;
    border-radius: 1rem;
}

@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}
