@use 'base/variables' as v;
@use 'base/mixins' as m;

.contacto h2 {
  color: v.$blanco;
  margin: 3rem 1rem;
}

.contacto-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include m.tablet {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.contacto-form {
  @include m.bento(v.$f-secundario);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.field {
  display: flex;
  align-items: stretch; 
  border-radius: .4rem;
  overflow: hidden; 
}

.icon-form {
  color: var(--f-terciario);
  background-color: v.$primario;
  padding: 0 2rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; 
}

.campo {
  padding: 2rem;
  border: none;
  background-color: v.$f-terciario;
  color: v.$blanco;
  flex: 1;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0; 
}

.boton button {
  background-color: v.$primario;
  font-weight: 600;
  text-align: center;
  color: v.$blanco;
  padding: 1rem;
  border-radius: 5rem;
  border: none;
  width: 100%;
  transition: transform 0.3s ease;

  @include m.tablet {
    width: auto;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .4rem;
    padding-right: 1.8rem;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}
.iconBtn{
  background-color: v.$f-primario;
  border-radius: 50%;
  padding: 1rem;
}