@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Hero */

.hero {
  background: url('/src/img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 26rem;
  position: relative;
  border-radius: 2rem;
  margin-top: 1rem;

  @include m.tablet {
    height: 38rem;
    margin-top: 0px;
  }

  @include m.xl {
    height: 44rem;
    margin-top: 0px;
  }

  .overlay {
    position: absolute;
    background-image: linear-gradient(90deg, rgba(45, 45, 58, .9) 15%, rgba(45, 45, 58, .7) 50%, rgba(43, 43, 53, .7) 100%);
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    @include m.tablet {
      text-align: left;
      flex-direction: row;
    }

    border-radius: 2rem;
  }

  .hero-titulo h1 {
    color: v.$blanco;
    font-weight: bold;
    margin: 0;
    text-wrap: balance;
  }

  .typewriter {
    color: v.$blanco;
    display: inline-block;
    border-right: 1px solid v.$grisClaro;
    white-space: nowrap;
    overflow: hidden;
    margin: 2rem 0;

    p {
      margin: 0;
    }

    span {
      font-size: 1.6rem;

      @include m.tablet {
        font-size: 2rem;
      }
    }
  }

  .texto-color {
    color: v.$primario;
    font-weight: bold;
    font-style: italic;
  }

  .hero-copy {
    width: 80%;
    padding: 2rem;

    @include m.tablet {
      padding: 4rem;

    }
  }

  .hero-boton a {
    background-color: v.$primario;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: v.$blanco;
    padding: 1rem 3rem;
    letter-spacing: .1rem;
    border: none;
    border-radius: 5rem;
    display: inline-block;
    transition: transform 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }

    @include m.tablet {
      padding: 1.4rem 3rem;
    }
  }



  .hero-imagen {
    position: relative;

    @include m.tablet {
      width: 50%;
      height: 100%;
      margin-right: 2.4rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      opacity: 0;
      animation: fadeIn 4s forwards;
    }
  }

  .hero-imagen img {
    display: none;

    @include m.tablet{
      width: 100%;
      height: auto;
      object-fit: contain;
      max-width: none;
      display: block;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

}