@forward 'header';
@forward 'footer';
@forward 'darkMode';
@forward 'info';
@forward 'main';
@forward 'hero';
@forward 'menu';
@forward 'numeros';
@forward 'servicios';
@forward 'paquetes';
@forward 'testimonios';
@forward 'galeria';
@forward 'historia';
@forward 'contacto';
@forward 'tecnologias';
