@use 'base/variables' as v;
@use 'base/mixins' as m;

/* contenedor */
.contenedor_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* información */

.informacion {
    @include m.bento(v.$f-primario);

    .info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: #fff;
    }

    .info div {
        display: flex;
        justify-content: space-between;
    }

    .row .value {
        color: #aaa;
    }

}

/* Idiomas */

.idiomas {
    @include m.bento(v.$f-primario);

    .idioma {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        color: #fff;
    }

    .circulo_idioma {
        text-align: center;
        flex: 1;

        p {
            font-size: 1.2rem;
        }
    }

    .circle {
        width: 90%;
        height: 90%;
    }

    .bg {
        fill: none;
        stroke: #222;
        stroke-width: 2.8;
    }

    .progress {
        fill: none;
        stroke: v.$primario;
        stroke-width: 2.8;
        stroke-linecap: round;
        transform: rotate(-90deg);
        transform-origin: center;
    }

    .percentage {
        text-anchor: middle;
        fill: #fff;
        font-size: .8rem;
    }
}

.bitmoji {
    width: fit-content;
    flex: 1;
    margin: 0;
    background-color: v.$f-terciario;
    border-radius: 50%;
}

.bitmoji img {
    width: 100%;
    border-radius: 50%;
}

/* Habilidades */

.habilidades {
    @include m.bento(v.$f-primario);
}

.habilidad {
    margin-bottom: 20px;
}

.hab-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value {
    text-align: right;
}

.bar {
    background: #222;
    /* fondo barra */
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 5px;
    position: relative;
}

.fill {
    background: v.$primario;
    /* color de progreso */
    height: 100%;
    border-radius: 3px;
    width: 0;
    /* arranca vacía */
    animation: cargar 2s ease forwards;
}

/* Animación de carga */
@keyframes cargar {
    from {
        width: 0;
    }

    to {
        width: var(--ancho);
    }
}

/* Animación escalonada (opcional) */
.habilidad:nth-child(1) .fill {
    animation-delay: 0s;
}

.habilidad:nth-child(2) .fill {
    animation-delay: 0.3s;
}

.habilidad:nth-child(3) .fill {
    animation-delay: 0.6s;
}

.habilidad:nth-child(4) .fill {
    animation-delay: 0.9s;
}

.habilidad:nth-child(5) .fill {
    animation-delay: 1.2s;
}



/* Conocimientos */

.conocimientos {
    @include m.bento(v.$f-primario);

    .skills-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .skills-list li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .skills-list li::before {
        content: "✔";
        position: absolute;
        left: 0;
        top: 0;
        color: v.$primario;
    }
}

/* Curriculum */

.curriculum {
    @include m.bento(v.$f-primario);

    .link-descarga {
        text-transform: uppercase;
        font-weight: bold;
        color: #aaa;
        display: inline-block;
        transition: transform 0.3s ease;

        &:hover {
            cursor: pointer;
            color: v.$blanco;
            transform: translateX(1rem);
        }
    }
}

.tienda {
    @include m.bento(url('/src/img/background.png'));
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 16rem;
    height: object-fit;

    .logo-tienda {
        width: 5rem;
        margin: 0 auto;
    }

    .tienda-overlay {
        border-radius: 1rem;
        background-image: linear-gradient(90deg, rgba(45, 45, 58, .9) 15%, rgba(45, 45, 58, .7) 50%, rgba(43, 43, 53, .7) 100%);
        position: absolute;
        inset: 0;
        text-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
    }

    .tienda-sabias {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
    .tienda-sabias p{
        text-align: left;
        text-wrap: balance;
    }

    .tienda-link {
        text-transform: uppercase;
        font-weight: bold;
        color: v.$blanco;
        transition: transform 0.3s ease;

        &:hover {
            cursor: pointer;
            color: v.$primario;
            transform: translateX(1rem);
        }
    }
}