@use 'base/variables' as v;
@use 'base/mixins' as m;

.layout {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;

  @include m.tablet {
    max-width: 144rem;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
  }
}

.contenedor_info {
  flex-basis: 20%;
}


.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 80%;
  transition: all 0.25s ease;

  @include m.tablet {
    display: grid;
    grid-template-columns: minmax(0, 1fr) var(--sidebar-width, 8rem);
    gap: 2rem;
    align-items: start;
  }
}

.content {
  grid-column: 1 / 2;
  min-width: 0; 
  position: relative;
  z-index: 1;
}

.sidebar {
  @include m.tablet{
    grid-column: 2 / 3;
    width: var(--sidebar-width, 8rem);
  }

  @include m.bento(v.$f-primario);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  transition: width 0.25s ease; 
  overflow: hidden;
}

.main-content.open {
  --sidebar-width: 20rem; 
}


.main-content.open .content {
  transition: margin 0.25s ease;
}
